$mobile: '320px';
$tablet: '800px';
$desktop: '1280px';

$oswald-font: 'Oswald', sans-serif;
$arial-font: 'Arial', sans-serif;
$accent: #ffa500;

$white: #ffffff;
$cerise: #db4696;
$black: #000000;
$tundora: #424242;
$plum: #742e74;
